
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: 'caveat';
  font-weight: 700;
  color: $color-dark;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 36px;
  @media screen and (min-width: 768px) {
    font-size: 40px;
  }
}

h2,
.h2 {
  font-size: 30px;

  @media screen and (min-width: 768px) {
    font-size: 34px;
  }
}

h3,
.h3 {
  font-size: 28px;

  @media screen and (min-width: 768px) {
    font-size: 30px;
  }
}

h4,
.h4 {
  font-size: 26px;

  @media screen and (min-width: 768px) {
    font-size: 28px;
  }
}

h5,
.h5 {
  font-size: 18px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
}

.highlight {
  padding: 14px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  line-height: 1.6;
  background-color: $color-dark;
  color: #fff;
  border-radius: 9px;

  a {
    color: #fff;
    letter-spacing: 0.34px;
    font-size: 19px;;

    &:hover {
      color: $color-mint;
    }
  }

  &--fixed {
    font-size: 12px;
    background-color: $color-dark;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9;
    border-radius: 0;

    a {
      font-size: 16px;
    }
  }

  @media screen and (min-width: 768px) {
    &--fixed {
      max-width: 194px;
      bottom: 50%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      border-radius: 9px 0 0 9px;
    }
  }
}

strong {
  font-weight: bold;
  text-decoration: underline;
}